<?xml version="1.0" encoding="utf-8"?>
<BizTalkPowerShellConfig xmlns="http://www.company.com/PowerShell/x86" SQLServer="." MgmtDbName="BizTalkMgmtDb" LogFolder="D:\Temp\Powershell">
  <Applications>
    <Application name="BizTalk Application" />
	<Application name="BizTalk EDI Application" />
  </Applications>
  <Resume>
	<ServiceName name="RP_PickUp">
		<Error Code="0xc0c01680" Description="The published message could not be routed" />
	</ServiceName>
	<ServiceName name="Sp_Send">
		<Error Code="0xc0c0167a" />
	</ServiceName>
	<ServiceName name="Sp_Fail">
		<Error code="0xC0C01B50" />
		<Error Code="0xc0c0167a" />
	</ServiceName>
  </Resume>
  <Terminate>
	<ServiceName name="RP_PickUp" />
  </Terminate>
  <Running TimeRunning="06:00:00">
  </Running>
</BizTalkPowerShellConfig>
