<?xml version="1.0" encoding="utf-8"?>
<PowerShellConfig xmlns="http://www.ChangeServiceStartupType.com/PowerShell/x86" LogFolder="D:\Temp\Powershell\ChangeServiceStartupType">
  <Services>
    <Service name="BTSSvc$BizTalkServerApplication" startupType="automatic" />
	<Service name="Service2" startupType="manual" />
  </Services>
</PowerShellConfig>